# .env dosyasinin ornegi. Kopyalayip kendi bilgilerinizle doldurun:
#   cp .env.example .env
# WSL uzerinden Windows'taki SQL Server'a baglaniyorsaniz DB_SERVER,
# `ip route show default | awk '{print $3}'` komutunun verdigi adrestir.
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=hazine_nabzi
DB_USER=hazine
DB_PASSWORD=
